/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.card {
  border: 0px;
  margin-bottom: 25px;
}
.card-body {
  border: solid 1px;
  border-color: grey;
  box-shadow: 10px 10px 5px lightgreen;
  border-radius: 10px;
}
.card-body:hover {
  border: solid 1.5px;
  border-color: black;
  box-shadow: 5px 5px 5px grey;
}
.card a {
  color: black;
  text-decoration: none;
}
.card a:hover h5 {
    text-decoration: underline;
}

.error-msg {
  color: red;
  background-color: yellow;
}

.layout {
  min-height: 60vh;
}

input:invalid[focused="true"]{
  border: 1px solid red;
}

input:invalid[focused="true"] ~ span{
  display: block;
}

.edit-container a {
  margin-right: 20px;
}

.admin-wrapper {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: solid 1px; 
}

.home-wrapper {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: solid 1px; 
}