/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.card {
  border: 0px;
  margin-bottom: 15px;
}
.card-body {
  border: solid 0.5px;
  border-color: grey;
  box-shadow: 10px 10px 5px grey;
}
.card-body:hover {
  border: solid 1px;
  border-color: grey;
  box-shadow: 10px 10px greenyellow;
}
.card a {
  color: black;
  text-decoration: none;
}
.card a:hover h5 {
    text-decoration: underline;
}