@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

* {
    font-family: Roboto; /*Ganske fin font*/
}

footer {
    margin-top: 50px;
}

.footer-body {
    background: dimgrey;
    min-height: 20vh;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 50px 60px 40px;
}

.footer-gruppenavn p {
    color: lightgreen;
    align-items: center;
    margin-top: 4em; /*Sette margin top 0 i scaling om det blir stort mellomrom*/
}

.alien-logo {
    width: 150px;
    height: 150px;
    margin: auto;
    display: block;
}

.footer-links {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.footer-links a {
    color: lightgreen;
}
@media only screen and (max-width: 690px) {
    .footer-body {
        flex-direction: column;
        align-items: center;
        display: block;
    }
    .footer-gruppenavn p {
        margin-top: 0;
    }
}